body { 
    background-color: black;
color: white;

}
section{

    background-color: rgb(237, 24, 174);
    padding-top: 20px;
    padding-bottom: 40px;
    display: flex;
    justify-content: center;
}
.chamada-texto {
    margin-right: 20px;
    text-align: center;
}
.video-marechal {
border: 20px white solid;

}